* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgb(255, 192, 203), rgb(251, 176, 37));
}

.container {
  display: grid;
  height: 500px;
  width: 500px;
  border: 2px dotted rgb(87, 67, 30);
  box-shadow: 5px 10px #0000003c;
}

.size-inputs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-top: 25px;

}

.circle-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.circle-button:hover {

  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(0, 200, 255);
}

.color-text {
  font-size: 20px;
}

#clearBtn {
  background-color: #e8dfd6;
}

#eraserBtn {
  background-color: #b9b2ac;
}

#rainbowBtn {
  background-image: linear-gradient(#ff0000, #fffc00, #00ff51, #00eaff, #ff00c8);
}